In [1]:
%%time
import malaya
import tweepy
import pandas as pd
import re   
from wordcloud import WordCloud
import matplotlib as mpl
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
from pprint import pprint

c:\Users\User\myenv\lib\site-packages\malaya_boilerplate\frozen_graph.py:28: UserWarning: Cannot import beam_search_ops from Tensorflow Addons, `deep_model` for stemmer will not available to use, make sure Tensorflow Addons version >= 0.12.0
  warnings.warn(

CPU times: total: 3.53 s
Wall time: 3.69 s

In [2]:
consumer_key = 'XiskKweI7YmS1XhyQtgon9KiC'
consumer_secret = 'ZlQTnJ9KVydN0wkOF1wQUgSw27yDkoHt4cZB8naGoYLxM8YWXb'
access_token = '402749260-966yCx3SGNyYCzrVYPUC8L3Pphc1rkg8m7d9YniF'
access_token_secret = '7o2Agu8oyoL25pOd3T4MSb3zuIXNtFKcaEz269gzdf2Bi'

auth=tweepy.OAuthHandler(consumer_key,consumer_secret)
auth.set_access_token(access_token,access_token_secret)

In [3]:
api=tweepy.API(auth)

In [4]:
# regex_txt = "https"
# regex = re.compile(regex_txt, re.IGNORECASE)
# match = regex.search(regex_txt)  # From your file reading code.
# if match is not None:
#     break
q="brgsjks"

In [5]:
public_tweets=api.search_tweets(q+' exclude:retweets exclude:replies',count='10',tweet_mode="extended")
i=1
for tweet in public_tweets:
    print(str(i)+')'+tweet.full_text+" \n")
    i=i+1

1)Dah la tiba2 ada masalah, nak menangis dah lepastu kena pressured lagi kena paksa present depan dia. But u gotta work professional tak boleh menangis in front of people. Elok je org tu blah berderai noq air mata. https://t.co/pP7YvB8ebw

2)Salah faham umat dalam satu tweet. https://t.co/XSOyZooavB

3)sama la baru start hujan ni https://t.co/ZhzQZFsr6t

4)This thread ü´Çüíñ https://t.co/dR6ZTlcBpL

5)BF wasep nk break.
Mcm nk nagis, tp cm aku bnyak keje siot, pg2 ko reply aku cmni? Apekah..

Eh, dah jd ex BF dah https://t.co/UJDpcnQHMs

6)masalahnya dia ni @chennievocal, lelaki ke perempuan ke semua dia suka ü•≤ https://t.co/79S6sP62uW

7)https://t.co/DgrPc4Heyt https://t.co/Nw8B2HO4a3

8)ü§£ü§£ https://t.co/bwi7AIyqrK

9)ü§£ https://t.co/VwECJBwOqP

10)Yessss my syg is exactly macam ni ‚ù£ https://t.co/FmYqWAQDYr

In [6]:
pd.set_option('display.max_colwidth', None)
df = pd.DataFrame([tweet.full_text for tweet in public_tweets], columns=['Tweets'])

# Show 5 rows of data
df.head()

                                                                                                                                                                                                                                         Tweets
0  Dah la tiba2 ada masalah, nak menangis dah lepastu kena pressured lagi kena paksa present depan dia. But u gotta work professional tak boleh menangis in front of people. Elok je org tu blah berderai noq air mata. https://t.co/pP7YvB8ebw
1                                                                                                                                                                                    Salah faham umat dalam satu tweet. https://t.co/XSOyZooavB
2                                                                                                                                                                                           sama la baru start hujan ni https://t.co/ZhzQZFsr6t
3                                                                                                                                                                                                        This thread ü´Çüíñ https://t.co/dR6ZTlcBpL
4                                                                                                  BF wasep nk break.\nMcm nk nagis, tp cm aku bnyak keje siot, pg2 ko reply aku cmni? Apekah..\n\nEh, dah jd ex BF dah https://t.co/UJDpcnQHMs

In [8]:
# filter columns
def cleanTweet(tweet):
    tweet= re.sub(r'https?:\/\/\S+','',tweet) #remove hyperlinks
    tweet=re.sub(r'&[A-Za-z0-9!@#$%^&*()]','', tweet) 
    return tweet

df['Tweets']=df['Tweets'].apply(cleanTweet)
df['name_length'] = df['Tweets'].str.len()
df.head()

,Tweets,name_length
0,"Dah la tiba2 ada masalah, nak menangis dah lepastu kena pressured lagi kena paksa present depan dia. But u gotta work professional tak boleh menangis in front of people. Elok je org tu blah berderai noq air mata.",213
1,Salah faham umat dalam satu tweet.,35
2,sama la baru start hujan ni,28
3,This thread ü´Çüíñ,15
4,"BF wasep nk break.\nMcm nk nagis, tp cm aku bnyak keje siot, pg2 ko reply aku cmni? Apekah..\n\nEh, dah jd ex BF dah",114

In [9]:
malaya.tatabahasa.available_transformer()

                  Size (MB)  Quantized Size (MB)       WER
t5                   1250.0               481.00  0.017890
small-t5              355.6               195.00  0.018797
tiny-t5               208.0               103.00  0.032804
super-tiny-t5          81.8                27.10  0.035114
3x-super-tiny-t5       18.3                 4.46  0.036762

In [10]:
model = malaya.tatabahasa.transformer(model = 'small-t5')

In [11]:
# MALAYA transformer MODEL
def getTransformer(tweet):
    return model.greedy_decoder([tweet])

df['Transformed_Tweets']= df['Tweets'].apply(getTransformer)
# Show new data
df.head()

,Tweets,name_length,Transformed_Tweets
0,"Dah la tiba2 ada masalah, nak menangis dah lepastu kena pressured lagi kena paksa present depan dia. But u gotta work professional tak boleh menangis in front of people. Elok je org tu blah berderai noq air mata.",213,"[Dah la tiba2 ada masalah , nak menangis dah lepastu kena pressured lagi kena paksa present depan dia . But u gotta work professional tak boleh menangis in front of people . Elok je org tu blah berderai noq air mata .]"
1,Salah faham umat dalam satu tweet.,35,[Salah faham umat dalam satu tweet .]
2,sama la baru start hujan ni,28,[sama la baru start hujan ni]
3,This thread ü´Çüíñ,15,[This thread ‚Åá ‚Åá ]
4,"BF wasep nk break.\nMcm nk nagis, tp cm aku bnyak keje siot, pg2 ko reply aku cmni? Apekah..\n\nEh, dah jd ex BF dah",114,"[BF wasep nk break , Mcm nk nagis , tp cm aku bnyak keje siot , pg2 ko reply aku cmni . Apekah . . Eh , dah jd ex BF dah]"

In [14]:
string = 'Sally sedang membaca bila saya tiba di rumahnya.'
model.greedy_decoder([string])

['Sally sedang membaca bila dia tiba di rumahnya .']